/* ======================================================
GOOGLE FONT
====================================================== */

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap");

:root{

    --primary:#236BFF;
    --secondary:#3ACB72;
    --text:#1C2541;
    --white:#ffffff;

}

/* ======================================================
RESET
====================================================== */

*{

    margin:0;
    padding:0;
    box-sizing:border-box;

}

body{

    font-family:"Manrope",sans-serif;

}
